.main{
    background-color:#fff;
    padding-top: 61px;
    overflow: scroll;
    padding-bottom: 70px;
}
.outerContainer{
    max-width: 1100px;
    margin: 0 auto;
}
.bellContainer{
   display: flex;
   justify-content: space-between;
   margin-right: 20px;
   margin-bottom: 20px;
   width: 90%;
   margin: 20px auto;
   align-items: center;

}
.arrow{
    position: relative;
    right: 3px;
}
.arrowContainer{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 16px;
border: 1px solid rgba(1, 1, 1, 0.60);
}
.mainHeading{
    color: #061F5C;
font-family: "Urbanist";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
/* margin-left: 20px; */
width: 90%;
margin: 0 auto;
margin-bottom: 10px;
}
.mainPara{
    margin: 0 auto;
    color: var(--primary-blue, #061F5C);
    font-family: "Urbanist";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 30px;
    width: 90%;
}
.dropContainer{
    margin: 0 auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 25px;
}
.drop{
    width: 42%;
    height: 49px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 7px 16px 15px;
    color: #000;
font-family: "Urbanist";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;

}

.containerBox{
    display: flex;
    /* gap: 7px; */
    justify-content: space-between;
}

.cityContainer{
    width: calc(50% - 3px);
}
.container{
    width: 49% ;
}
.p{
    width: 90%;
    color: var(--primary-blue, #061F5C);
font-family: "Urbanist";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0 auto;
margin-bottom: 10px;
}


.finalP{
    color: rgba(1, 1, 1, 0.60);
font-family: "Urbanist";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 90%;
margin: 0 auto;
margin-bottom: 10px;
}

.button{
    display: flex;
width: 90%;
padding: 18px 131px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: var(--primary-blue, #061F5C);
color: #fff;
width: 90%;
border: none;
outline: none;
margin: auto;
/* margin-top: 58px; */
/* padding-bottom: 70px; */
}
.buttonSec{
    display: flex;
    margin: 0 auto;
    margin: 30px auto;
    width: 90%;
    padding: 18px 0;
    justify-content: center;
    outline: none;
    border: none;
    align-items: center;
    border-radius: 10px;
background: rgba(6, 31, 92, 0.10);
color: var(--primary-blue, #061F5C);
text-align: center;
font-family: "Urbanist";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 16px; 
}