*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    font-family: 'Urbanist', sans-serif;
    
}
/* .background{ 
    display: flex; 
     justify-content: center;
    align-items: center; 
    background-color: rgb(121, 121, 121); 
    height: 100vh;
    width: 100%;
 } */


